 body {
        background-color: #fff5c2;
        font-family: Garamond;
        font-weight: normal;
        margin: 0 10%;
      }
      h1 {
        color: #453a35;
        font-weight: bold;
      }
a:link, a:visited{
  color: darkgoldenrod;
}
a:hover{
  color: rebeccapurple;
}
a{
  text-decoration: none;
}
img{
  border-radius: .5em;
}
ul{
  list-style-image: url("../images/stardewbullet.png");
}

.infobox{
  background-color: ghostwhite;
  width: 10em;
  height: 2.5em;
  padding: 2em 1em 3em;
  border-radius: 1em;
  border: dashed darkgoldenrod;
  margin: 1em;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);

  transition-property: width, height, color, overflow background-color;
  transition-duration: .6s;
  transition-delay: .5s;
  transition-timing-function: ease-in-out;
}

.infobox:hover{
  width: 45em;
  height: 10em;
  color: black;
  overflow: auto;
  background-color: #D7FFC4;
}
h3{
  color:black;
}
#repos{
  position: relative; 
  top: 10px;
}

@media screen and (min-width: 70em){
  .icon{
    position: absolute;
    right: 55px;
    top: 30px;
    rotate: 15deg;
  }
  .icon2{
    position: absolute;
    left: 50px;
    top:30%;
    rotate: -15deg;
  }
  .icon3{
    position: absolute;
    right: 5%;
    top: 90%;
    rotate: 10deg;
}
}